@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  background: rgba(0,0,0,1);
  color: rgba(255,255,0,1);
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
}

#picklecat {
  margin-left: auto;
  margin-right: auto;
  width: 18em;
}

/*
  for scrolling text see:
  http://www.sitepoint.com/css3-starwars-scrolling-text/
*/

#titles {
	position: absolute;
	width: 18em;
	height: 50em;
	bottom: 0;
	left: 50%;
	margin-left: -9em;
	font-size: 350%;
	font-weight: bold;
	text-align: justify;
	overflow: hidden;
	transform-origin: 50% 100%;
	transform: perspective(300px) rotateX(15deg);
}

#titles:after {
	position: absolute;
	content: ' ';
	left: 0;
	right: 0;
	top: 0;
	bottom: 60%;
	background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	pointer-events: none;
}

#titlecontent {
	position: absolute;
	top: 100%;
	animation: scroll 50s linear 1s infinite;
}

@keyframes scroll {
	0% {
    top: 100%;
  }
	100% {
    top: -170%;
  }
}
